@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;
}



/* Home Page */

.home-page {
    background-image: url(./images/pexels-vivint-solar-2850347.jpg);


    background-size: 100% 100%;
    height: 100vh;
    background-repeat: no-repeat;



    /* box-shadow: 0px 0px 40px 20px rgba(0, 0, 0, 0.231); */

}

/* NavBar */

.navbar {
    display: flex;
    width: 90%;
    margin: auto;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;




}

.logo {
    flex: 1;


}

.image-logo {
    height: 3rem;
    width: 9rem;

}

.Menu-link {
    text-decoration: none;

    font-weight: 400;

}

/* Hero-section */
.hero-section {

    height: 85%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}

.top-div {
    padding: 30px;

    display: flex;
    flex-direction: column;
    gap: 20px;


}

.h1-top {
    font-size: 2.3rem;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.p-top {
    font-size: 0.8rem;
}

.bottom-div {
    display: flex;
    flex-direction: row;
    width: 80%;

    margin: 20px auto;
}

.icons {
    display: flex;
    width: 60%;

    margin: auto;

    color: white;
    gap: 2rem;

}

i {
    color: white;
    font-size: 1rem;
}

.icon3-text {
    color: white;
}

.icon1 {

    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 10px;


}

.order-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 25%;
}

.order-button button {
    padding: 10px 30px;
    border-radius: 20px;
    background: none;
    border-color: white;

    color: white;
    cursor: pointer;
    font-size: 0.7rem;
}

.description {
    font-size: 0.75rem;
}

/* savings section  */
.savings {
    height: 100vh;
    display: flex;


}

.description-savings {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    padding: 40px 40px;


}

.headings-and-p h4 {
    color: black;
}

.h2-savings {
    color: black;
    padding-top: 10px;
    font-weight: 500;

}

.headings-and-p p {
    font-size: 0.8rem;
    color: black;
}

.button-savings button {
    padding: 10px 20px;
    border-radius: 20px;
    color: black;
    font-weight: 500;
    background: none;
    border-color: black;

}

.right-image-savings img {
    width: 100%;
    height: 100%;
}

.right-image-savings {
    flex: 3;
}

/* Design Section */
.Design {
    height: 100vh;
    display: flex;


}

.description-Design {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    padding: 40px 40px;


}

.headings-and-p h4 {
    color: black;
}

.h2-Design {
    color: black;
    padding-top: 10px;
    font-weight: 500;

}

.headings-and-p p {
    font-size: 0.8rem;
    color: black;
}

.button-Design button {
    padding: 10px 20px;
    border-radius: 20px;
    color: black;
    font-weight: 500;
    background: none;
    border-color: black;

}

.right-image-Design img {
    width: 100%;
    height: 100%;
}

.right-image-Design {
    flex: 3;
}

/* Media Queries */
@media (max-width: 760px) {

    /* hero section */
    .home-page {
        background-size: 250% 100%;
        background-position: center;
    }

    .bottom-div {
        display: block;



    }

    .icons {
        display: flex;
        justify-content: center;
        flex: 1;

        width: 100%;

    }

    .order-button {
        display: flex;
        justify-content: center;
        margin: 30px auto;

    }

    .order-button button {
        padding: 5px 60px;


    }

    .image-logo {
        height: 2rem;
        width: 6rem;
    }

    .savings {
        display: flex;
        flex-direction: column-reverse;
    }

    .Design {
        display: flex;
        flex-direction: column-reverse;
    }
}



@media(min-width:280px) and (max-width:375px) {
    .bottom-div {
        flex: 2;
    }
}